body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.side-nav{
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F8FAFD;
    overflow-x: hidden;
    padding-top: 20px;
}

/* .side-nav-svg{
    
} */




.flex-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flex-icon-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{
    text-decoration: none;
    font-size: 11px;
    color: #444746;
}

.main-img{
    width: 91vw;
    margin-left: 80px;
    position: relative;
}

.header-img{
    width: 100%;
    height: 480px;
    object-fit: cover;
    margin: 10px;
    border-radius: 16px;

}

.main-img-content{
    position: absolute;
    text-align: center;
    top: 0;
    margin: 60px auto;
}

.main-img-content-title{
    font-size: 90px;
    font-weight: 500;
    font-family: sans-serif;
    margin-left: 250px;
    color: #1f1f1f;
    height: 50px;
}

.main-img-content-des{
    max-width: 670px;
    margin-left: 250px;
    font-size: 18px;
    font-weight: 500;
    color: #1f1f1f;
}


.btn{
    border: none;
    color: white;
    background-color: rgba(79, 79, 222, 0.980);
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 250px;
}

.btn:hover{
    background-color: rgba(30, 144, 255, 0.9);
}

.main-container{
    width: 80vw;
    margin-left: 160px;
    margin-top: 70px;
}

.main-container-title{
    font-size: 50px;
    font-weight: 500;
    margin-left: 20px;
}

.container-2{
    margin-top: 80px;
}

.flex-card{
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.card{
    width: 335px;
    height: 300px;
    
    /* border: 1px solid lightgray; */
    border-radius: 12px;
    background-color: #F8FAFD;
}

.flex-card-img{
    width: 100%;
    border-radius: 12px;

}

.flex-card-img-title{
    margin-left: 20px;
    height: 20px;
    font-size: 22px;
    font-weight: 500;
    color: #1f1f1f;
}

.flex-card-img-des{
    margin-left: 18px;
    font-size: 15px;
    font-weight: 400;
    color: #1f1f1f;
}

.card:hover{
    background-color: #C2E7FF;
}

.container-3{
    margin-top: 80px;
}

.flex-text{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-text{
    border-radius: 20px;
    width: 500px;
    background-color: #F8FAFD;
}

.card-text:hover{
    background-color: #C2E7FF;
}

.card-text-title{
    color: #1f1f1f;
    font-size:20px;
    font-weight: 500;
    margin-left: 20px;
}

.card-text-des{
    color: #1f1f1f;
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
}

.svg{
    margin-top: 80px;
    max-width: 100vw;
}

.container-4{
    margin-top: 80px;
}

.flex-container-4-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-4-links{
    display: flex;
    gap: 125px;
    margin-top: 25px;
}

.logo-para{
    max-width: 430px;
    color: #1f1f1f;
    font-size: 14px;
    font-weight: 500;
}

.links-title{
    font-size: 14px;
    color: #1f1f1f;
    font-weight: 500;
}


.flex-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.flex-libraries-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

}

.flex-archived-versions-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.social-links{
    text-decoration: none;
    font-size: 14px;
    color: #0B57D0;
    font-weight: 500;

}
.footer{
    margin-top: 80px;
}

.footer-flex{
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-svg{
    height: 18px;
    margin-top:5px;
}

.footer-text{
    font-size: 14px;
    color: #1f1f1f;
    font-weight: 500;
}

